# .gitignore

# ignore node_modules
node_modules/

# ignore build output
/dist

# ignore IDE files
.idea/

# ignore vscode settings
.vscode/

# ignore pyc files
*.pyc

# ignore coverage reports
coverage.xml
coverage.html

# ignore flake8 reports
flake8.xml